<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résumé du scan</title>
    <link rel="stylesheet" href="/static/style/bootstrap.min.css">
</head>
<body>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Nuclei Reporter</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Un rapide coup d'oeuil sur votre scan Nuclei disponible sur un application web avec toutes les <span class="badge text-bg-info">infos</span>
            les plus <span class="badge rounded-pill text-bg-warning">importantes</span> !
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a  href="/upload" type="button" style="background-color: #dd5220; color: white; border: solid 2px #c1471b;" class="btn btn-lg px-4 gap-3">Démarrer <img style="height: 25px;" src="/static/images/Gnome-document-send.svg" alt="" srcset=""></a>
            <a href="/scan" type="button" class="btn btn-outline-secondary btn-lg px-4">Ouvrir <img style="height: 25px;" src="/static/images/Gnome-document-open.svg" alt="" srcset=""></a>
          </div>
        </div>
      </div>
</body>
</html>